@import url('https://fonts.googleapis.com/css2?family=Livvic&family=Montserrat&family=Poppins&family=Roboto&display=swap');
:root {
    --black: #000;
    --blacktone: rgb(19, 19, 19);
    --gray: rgb(114, 114, 114);
    --white: #fff;
    --poppins: "Poppins";
    --livvic: "Livvic";
    --bestrock: "Roboto";
    --gothic: "Montserrat";
    --transit: 0.3s linear all;
    --butradius: 30px;
    --pad1: 1rem;
    --border: 2px solid #000;
    /*font sizes*/
    --rem1: 1rem;
    --rem2: 2rem;
    --rem3: 3rem;
    --rem4: 4rem;
    --rem: 5rem;
    --bold: 700;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--poppins);
    overflow-x: hidden;
}

h1,
h4,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--blacktone);
}

img {
    max-width: 100%;
    height: auto;
    border: var(--border);
    object-fit: cover;
}

button,
input {
    font-family: var(--poppins);
    border: none;
    outline: none;
    cursor: pointer;
}

.main-btn {
    background-color: var(--black);
    color: var(--white);
    border-radius: var(--butradius);
    font-size: var(--rem1);
    padding: var(--pad1) 0 var(--pad1);
}

.second-btn {
    background: none;
}

.tophead {
    text-transform: capitalize;
    font-size: var(--rem3);
}

.header {
    margin: var(--pad1);
}


/*nav container*/

nav button {
    background: none;
}

.links {
    list-style: none;
}

@media screen and (min-width:800px) {
    .nav-center {
        display: flex;
        justify-content: space-between;
        column-gap: var(--rem2);
    }
    .links {
        list-style: none;
        display: flex;
        justify-content: space-around;
    }
    .links a {
        text-transform: capitalize;
        padding: var(--rem1);
        color: var(--gray);
    }
    .nav-cart button {
        display: flex;
        align-items: center;
        background: none;
        padding: var(--rem1);
    }
    .nav-cart p {
        margin: 0;
        padding-left: 0.5rem;
        font-weight: var(--bold);
    }
    .social-icons,
    .nav-btn {
        display: none;
    }
    #active {
        color: var(--black);
        font-weight: var(--bold);
    }
}


/**/

.links a:hover {
    color: var(--black);
    font-weight: var(--bold);
}

.logo {
    font: 1rem var(--bestrock);
    margin: 0;
    font-weight: 600;
    font-size: 1.5rem;
}

.cart .second-btn {
    font: var(--rem1) var(--livvic);
}

.container {
    margin: var(--rem3);
}

.container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--pad1);
}

.elegance p {
    font: var(--rem3) var(--poppins);
    font-weight: 700;
    line-height: 1;
}

.elegance .second-btn {
    display: block;
    font-size: var(--rem2);
    margin-top: var(--rem2);
    text-align: center;
    transform: translateX(175%);
}

.container1 img {
    width: 100%;
    height: 500px;
}

.social-links ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: var(--rem2)0 var(--rem2);
}

.social-links li {
    margin: 0 2em 0;
    font-weight: 600;
}

.social-links ul::before,
.social-links ul::after {
    content: '';
    height: 2px;
    width: 400px;
    background-color: var(--black);
    color: var(--black);
}

.container2 {
    margin-top: 5em;
    display: grid;
    grid-template-columns: 30% 70%;
}

.newin2 {
    max-width: 80%;
}

.newin2 ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.newin2 li {
    font-weight: 600;
}

.container3 {
    display: grid;
    place-items: center;
    margin-bottom: var(--rem2);
}

.container3 img {
    width: 100%;
    height: 70vh;
    border: none;
}

.shirclip img {
    width: 100%;
    height: auto;
}

.shirtcard {
    background-color: rgb(202, 202, 202);
    width: 300px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.shirtcard-img {
    height: 450px;
    position: relative;
}

.shirtcard-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shirtcard-img .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(233, 232, 225);
    z-index: 10;
    opacity: 0.8;
}

.buy-btn {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    border-radius: var(--butradius);
    letter-spacing: 1px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.buy-btn:hover,
.main-btn:hover {
    background-color: #fff;
    color: #000;
    border: var(--border);
    transition: all ease 0.3s
}

.shirtcard-img .overlay {
    visibility: hidden;
}

.shirtcard-img:hover .overlay {
    visibility: visible;
    animation: fade 0.5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}

.shirtcard-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

.shirtcard-text .type {
    display: flex;
    flex-direction: column;
}

.shirtcard-text .type a {
    margin: 5px 0;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 8px;
}

.shirtcard-text .type span {
    font-size: 0.65rem;
}

.shirtcard-text .price {
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 0.5px
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    margin: 0;
}

.more-link {
    text-transform: uppercase;
    color: black;
    font-size: 1.1rem;
    text-align: right;
    width: 100%;
    margin-top: var(--rem2);
}

.more-link:hover {
    text-decoration: underline;
    font-weight: 700;
}

.container4 {
    margin-bottom: 1em;
}

.container4 p {
    max-width: 60%;
    font-size: .85em;
}

.shirt-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--rem4);
}

.feature-card img {
    border: none;
}

.feature-card:hover {
    opacity: 0.7;
    transition: opacity 0.7;
}

.feature-card button {
    position: relative;
    bottom: 100px;
    font-size: 2rem;
    font-weight: 700;
}

.feature-card button:hover {
    border-bottom: var(--border);
    transition: 0.4s ease-in;
}

.feature-card .fa-arrow-up,
.input button {
    transform: rotate(60deg);
}

.feature-card img {
    width: 100%;
    height: 500px;
}

.feature-card.number2 {
    width: 70%;
    height: 50%;
    transform: translate(30%, 15%);
}

.feature-card.number2 img {
    border: var(--border);
    width: 90%;
    height: 400px;
}

.divider {
    height: 1px;
    background-color: var(--black);
    margin: 1em 0 1em;
    opacity: 0.2;
}

.article,
.imagecontain,
.container7 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--rem3);
}

.thegian img {
    width: 100%;
    height: 72.5%;
}

.thegian .main-btn {
    padding-right: 1.5em;
    padding-left: 1.5em;
}

.marker {
    padding: .5em 0 .5em;
    background-color: var(--black);
    color: var(--white);
    z-index: 2;
    width: 100%;
}

.marker ul {
    display: flex;
    justify-content: space-between;
    font-size: var(--rem2);
}

.imagecontain {
    height: auto;
}

.container6 section img {
    margin-top: 2em;
    width: 100%;
    z-index: -10;
}

.container7 {
    margin: 1em 0 1em;
    height: 100%;
}

.getintouch {
    padding-top: 6em;
}

.getintouch p {
    font-size: .85em;
}

.input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px var(--gray) solid;
    margin-top: 2em;
}

input::placeholder {
    font-size: 1.5em;
}

.getintouch-img {
    height: 100%;
}

.getintouch-img img {
    height: 400px;
}

footer ul {
    list-style: none;
    padding: 0;
}

.mediabuttons button {
    background: none;
    padding: .5em;
    margin-right: 1em;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
}

.mediabuttons button:hover {
    opacity: 0.5;
}

.footer .logo {
    margin: 0;
}

footer li {
    padding-bottom: 1em;
}

footer li:hover {
    text-decoration: underline;
    font-weight: var(--bold);
}

.foot {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 85%;
    margin: 0 auto;
}

.footer2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.chief {
    font-weight: var(--bold);
}

.scrollup button {
    position: fixed;
    left: 92%;
    bottom: 5%;
    transition: ease-out 0.4s;
    background-color: var(--black);
    color: var(--white);
    padding: .75em;
    border-radius: 10px;
}

.copytext {
    text-align: center;
}

::-webkit-scrollbar {
    width: 0.8rem;
    background: rgb(49, 49, 49);
}

::-webkit-scrollbar-thumb {
    background: rgb(170, 170, 170);
    border-radius: .5rem;
}


/**/

@media screen and (max-width: 64em) {
    p,
    a {
        font-size: 0.85rem;
    }
}

@media screen and (max-width:50em) {
    .nav-header {
        display: flex;
        justify-content: space-between;
    }
    .nav-btn {
        display: flex;
        align-items: center;
        z-index: 100;
    }
    .nav-btn button {
        font-size: 1.2rem;
        padding-right: 0.7rem;
        z-index: 100;
    }
    .nav-toggle {
        color: #808080;
    }
    .nav-cart {
        display: none;
    }
    .links {
        background-color: #000;
        margin: 0;
        transition: var(--transit);
        height: 0;
        overflow: hidden;
        display: none;
    }
    .links a {
        display: block;
        color: var(--white);
        text-transform: uppercase;
        transition: var(--transit);
        margin: 0;
        padding: var(--rem1);
    }
    .links a:hover {
        background-color: var(--gray);
        font-weight: var(--bold);
        padding-left: var(--rem2);
    }
    .show-links {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        padding: 1rem;
        touch-action: none;
    }
    .show-links li {
        margin-top: 2rem;
    }
    .container1,
    .container2,
    .container3,
    .shirt-container,
    .imagecontain,
    .container7,
    .article,
    .foot,
    .footer2 {
        display: grid;
        grid-template-columns: 100%;
        gap: .5rem;
        margin: 0 auto;
        width: 95%;
    }
    .elegance p {
        font-size: 2.5rem;
    }
    .elegance .main-btn {
        margin-bottom: 3em;
    }
    .elegance .second-btn {
        display: none;
    }
    .tophead {
        font-size: 2rem;
    }
    .feature-card.number2 img {
        width: fit-content;
    }
    .container4 p {
        max-width: 100%;
    }
    .getintouch-img img {
        width: 100%;
    }
    .marker ul {
        font-size: var(--rem1);
    }
    .container7 {
        height: 780px;
    }
}

@media screen and (max-width: 40em) {
    .elegance p {
        font-size: 2rem;
    }
    p {
        font-size: 0.7rem;
    }
    .tophead {
        font-size: 1.5rem;
    }
    .container {
        margin: 0 auto;
        width: 95%;
    }
    .newin2 a {
        font-size: 0.7rem;
    }
    .container4 p {
        font-size: 0.7rem;
    }
    .feature-card button {
        font-size: 1.5rem;
    }
    .container5 .tophead {
        font-size: 1.1rem;
    }
    .main-btn {
        padding: 0.5rem 0;
    }
    .marker ul {
        list-style: none;
        overflow: hidden;
        padding: 0;
        font-size: 0.6rem;
    }
    .getintouch p {
        font-size: 0.7rem;
    }
    input {
        font-size: 0.75;
    }
    input::placeholder {
        font-size: 0.75rem;
    }
    footer a {
        font-size: 0.85rem;
    }
    .foot {
        margin: 0 auto;
        width: 95%;
    }
    .more-link {
        font-size: 0.7rem;
    }
    .container4 {
        margin: 2rem 0;
    }
}